* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #ffd571;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 1rem;
  color: #0f4c75;
}

h3 {
  margin: 0.5rem;
  color: #0f4c75;
}

#game {
  background-color: #848ccf;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2%;
  margin: 2rem;
  width: 40%;
  height: 40%;
}

#game div {
  flex: 1 1 20%;
  box-shadow: 5px 10px 2px 2px  #322f3d;
  border : 3px dotted #322f3d;
  height: 5rem;
  margin: 1rem;
}

#restart {
  display: none;
  color: #2d4059;
  font-size: 2em;
  height : 2em;
  width: 5em;
  cursor: pointer;
  border: none;
  border-radius: 10%;
  background-color: #fff;
}


#restart:hover{
  background-color: #91d18b;
}